body {
    text-align: center;
    background-color: #085020;
    background-image: url(img/image\ 1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.container{
    max-width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


header{
    font-size: larger;
    color: rgb(233, 230, 227);
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.text-center{
    color: white;
}

.wrap1{
    animation: showlist .5s linear alternate;
    
}

@keyframes showlist{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

.error{
    color: red;
    font-size: large;
}


.d-flex{
    width: 450px;
    height: 60px;
    
}

.todos li{
    background-color: #fff;
    color: black;
    font-weight: bold;
}

.delete{
    cursor: pointer;
    color: red;
}


/* RESPONSIVE */
@media screen and (max-width:480px){
    .container{
        width: 95%;
        max-width: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

}